@import url('https://fonts.googleapis.com/css2?family=Michroma&family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap');
*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #000000;
    color: #FAEB92;
    font-family: "SUSE mono", sans-serif;
    
}


#nav{
    /* background-color: brown; */
    position: absolute;
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 20;
    color: #CC66DA;
}


.logo{
    padding: 5px 20px;
    font-size: 35px;
    
    /* background-color: green; */
}

.others{
    min-width: 600px;
    /* background-color: pink; */
    margin-right: 30px;
}

#first{
    /* background-color: green; */
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    
    
}

#first li a{
    font-size: 28px;
    text-decoration: none;
    color: #CC66DA;
}

/* end of nav bar */
.main-image {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.main-image .bg-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

#main-heading {
    font-size: 200px;
    width: 100%;
    position: absolute;  
    top: 50%;            
    left: 50%;           
    transform: translate(-50%, -50%); 
    color: #FAEB92;
    z-index: 10;         
    text-align: center;
    font-family: "Michroma", sans-serif;
}

/* end of the header */

/* content section */

.content{
    /* border: 2px solid red; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.box1{
    /* border: 2px solid green; */
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.box1 p{
    width: 900px;
    padding: 20px;
}
.box1 img{
    /* border: 2px solid yellow; */
    height: 400px;
    width: 500px;
    margin: 30px;
}
.box2{
    /* border: 2px solid green; */
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.box2 p{
    width: 900px;
    padding: 20px;
}
.box2 img{
    /* border: 2px solid yellow; */
    height: 400px;
    width: 400px;
    margin: 30px;
    border-radius: 50%;
}

/* done with the content section  */




/* hprizontal scroll */

.Horizontal{
    height: 100vh;
    background-color: #FAEB92;
}

.Horizontal h1{
    /* font-size: 400px;*/
    color: #CC66DA;
     font-family: "Michroma", sans-serif;
}



/* start of the footer */

.footer{
    margin: 5px;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-container{
    
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.footer-about{
    
    margin: 5px;
    height: 200px;
    width: 400px;
}

h3{ 
    text-align: center;
    padding: 5px;
}

.footer-links{
   
    margin: 5px;
    height: 200px;
    width: 400px;
    text-align: center;
}

.footer-links ul {
    list-style: none;
    padding: 0;

}

.footer-links ul li a{
    text-decoration: none;
    color: #FAEB92;
}



.footer-contact{
    margin: 5px;
    height: 200px;
    width: 400px;
    text-align: center;
}

.footer-bottom{
    text-align: center;
    margin: 5px;
}

.divider {
    border: none;            
    height: 2px;            
    background-color: #FAEB92; 
    width: 80%;             
    margin: 20px auto;
}

