@import url('https://fonts.googleapis.com/css2?family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap');

*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #000000;
    color: #FAEB92;
    font-family: "SUSE mono", sans-serif;
}


#nav{
    /* background-color: brown; */
    position: absolute;
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}


.logo{
    padding: 5px 20px;
    font-size: 30px;
    
    /* background-color: green; */
}

.others{
    min-width: 600px;
    /* background-color: pink; */
    margin-right: 30px;
}

#first{
    /* background-color: green; */
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    
}

li a{
    font-size: 20px;
    text-decoration: none;
    color: #FAEB92;
}

/* end of nav bar */
.main-image {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.main-image .bg-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}


/* end of the header */

/* content section */

.content{
    border: 2px solid red;
}