@import url('https://fonts.googleapis.com/css2?family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap');

*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #000000;
    color: #FAEB92;
    font-family: "SUSE mono", sans-serif;
}


#nav{
    /* background-color: brown; */
    position: absolute;
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}


.logo{
    padding: 0px 20px;
    font-size: 30px;
    /* background-color: green; */
}

.others{
    min-width: 600px;
    /* background-color: pink; */
    margin-right: 30px;
}

ul{
    /* background-color: green; */
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    
}

li a{
    font-size: 20px;
    text-decoration: none;
    color: #FAEB92;
}

/* end of nav bar */

.main-image {
  position: relative;
  z-index: 5;
  width: 100vw;
  height: 100vh;
  overflow: hidden; /* hide overflow if video is bigger */
}

.bg-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover;   /* keeps aspect ratio, covers full div */

}
